@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kavivanar&display=swap');

h1{
    color: rgb(224, 231, 252) ;
    font-size: 400;
}

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: url("vid/Abstract\ -\ 144581.mp4");
    font-family: 'Itim', cursive;
    background-size: cover;
}
p{
    color: rgb(253, 223, 253);
    font-size: 24px;
    font-family: 'Itim', cursive;
}
.bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.bgvid{
     width: 220vh;
}
.tamil{
    color: red;
    font-family: 'Kavivanar', cursive;
    position: fixed;
    right:50%;
    background-color:  rgb(253, 223, 253);
    z-index: 10;
    padding: 10px;
    border-radius: 12px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
    font-size: 28px;
    
   
}
.bgimg{
    height: 100vh;
    width: 100vw;
}
.cont{
    font-family: sans-serif ;
    color: rgb(153, 171, 253);
    position: relative;
    text-decoration: underline;
}
.twit{
    height: 70px;
    
}
.insta{
    height: 70px;
    cursor: pointer;
}
.mail{
    color: rgb(215, 235, 253);
    font-family: 'Itim', cursive;
}
.insta_text{
    color:rgb(215, 235, 253);
    font-family: 'Itim', cursive;
}
.twit_text{
    color:rgb(215, 235, 253);
    font-family: 'Itim', cursive;
}
.twitpos{
    position: absolute;
}
.instapos{
    position: absolute ; 
    left: 100px;
}
.mailpos{
    position: relative ; 
    left: 200px;
}
.tamil:hover{
    background-color: red;
    color:  rgb(253, 223, 253) ;
    cursor: pointer;
}
.name{
    color: brown;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
    cursor: pointer;
}
.name:hover{
   text-decoration: underline;
}

